
 
 .theme--default {
   .App{

    background-color: $bgPrimary;
   }
   .app-body{
    .submiting{
      border-radius: $border-radius-3;
      color: $BackgroundPublic;
      background-color: $greenColor;
      }
      .todo-input{
        
    background-color: $BackgroundPublic;
    color: $fontPrimary;
      }
      &::placeholder {
        color: $fontPrimary;
      }
      .checkbox{
        border: 1px solid $fontPrimary;
      &:checked{
        background: linear-gradient(135deg, $primaryCheckBackground)
        center/cover no-repeat;
      }
      }
      p {
        color: $fontSecondary;
      }
      .todo-list{
        ul {
          li {
          background-color: $bgPrimary;
          color: $fontPrimary;
          border-bottom: 1px solid $fontSecondary;
          .over {
            opacity: 0.6;
          }
          .completed {
            background-color:$bgSecondary;
        
          }
          
        }
        }
      }
   }
 }
  .theme--dark {
    .App{

      background-color: $bgPrimary;
     }
     .app-body{
      .submiting{
        border-radius: $border-radius-3;
        color: $BackgroundPublic;
        background-color: $greenColor;
        }
        .todo-input{
          
      background-color: $BackgroundPublic;
      color: $fontPrimary;
        }
        &::placeholder {
          color: $fontPrimary;
        }
        .checkbox{
          border: 1px solid $fontPrimary;
        &:checked{
          background: linear-gradient(135deg, $primaryCheckBackground)
          center/cover no-repeat;
        }
        }
        p {
          color: $fontSecondary;
        }
        .todo-list{
          ul {
            li {
            background-color: $bgPrimary;
            color: $fontPrimary;
            border-bottom: 1px solid $fontSecondary;
            .over {
              opacity: 0.6;
            }
            .completed {
              background-color:$bgSecondary;
          
            }
            
          }
          }
        }
     }
 
  }
 
